@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    font-family: "Montserrat";
    background-color: rgb(255, 255, 255);
}

#titulo{
    /*background-color: #161D6F;*/
    background: linear-gradient(to bottom, #0B2F9F, #161D6F);
    text-align:center;
    padding:1%;
    color:white;
}

p{
    text-align: justify;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color:white;
}

#nav{
    background-color: #0B2F9F;
    list-style-type: none;
    justify-content: space-evenly;
    padding:0.5%;
    color:white;
}

.container{
    display:flex;
    flex-wrap: warp;
}

.item{
    text-align:center;
    
    padding:2%;
}

#corpo{
    flex-direction: column;
}

#contatos{
    text-align: center;
    border:none;
    padding:1%;
    background: linear-gradient(to top, #161D6F, #0B2F9F);
    color:white;
}

#sobre, #experiencia{
    background: linear-gradient(to left, #6cbdb8, #C7FFD8);
}

#formacao, #objetivos{
    background: linear-gradient(to right, #6cbdb8, #C7FFD8);
}

i{
    font-size: 150%;
    margin-top: 150%;
}